<div class="lynch-interface">
  <div class="red-curtains-container">
    <div class="red-curtains left"></div>
    <div class="red-curtains right"></div>
    
    <div class="chatbot-container">
      <div class="chat-header">
        <div class="header-content">
          <div class="title-wrapper">
            <h1>CHAT WITH DAVID LYNCH</h1>
            <div class="zigzag-line"></div>
          </div>
          <div class="header-actions">
            <% if user_signed_in? %>
              <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link" do %>
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
              <% end %>
            <% else %>
              <%= link_to "Login", new_user_session_path, class: "nav-link login-button" %>
            <% end %>
          </div>
        </div>
      </div>
      
      <div id="questions" class="chat-messages">
        <%= render @questions %>
      </div>

      <div class="chat-input-wrapper">
        <%= render "form", question: @question %>
      </div>
    </div>
  </div>
  
  <div class="ambient-overlay"></div>
  <div class="noise-overlay"></div>
</div>
