
$dark-blue: #0a0e17;
$red-room: #9b0000;
$black-lodge: #000000;
$white-lodge: #f5f5f5;


$zigzag-color: #b11313;
$curtain-red: #8b0000;


$user-message-bg: rgba(74, 111, 161, 0.8);
$ai-message-bg: rgba(155, 0, 0, 0.8);


$text-shadow: 0 0 4px rgba(255, 255, 255, 0.7);
$box-shadow-red: 0 0 15px rgba($red-room, 0.5);


$red: $red-room;
$blue: $dark-blue;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: $black-lodge;
$light-gray: $white-lodge;
