<p>
  The reason we are asking you to login, is just so you have your questions saved!
  This way, you can come back and see what you've asked before, and what the chatbot has answered.
</p>

<p>
  Frankly, we don't care who you are, or what you ask. We just want to provide you with an efficient service that you can use.
</p>

<p>So, will you <%= link_to "login", new_user_session_path, class: "" %> or not?</p>
